.portfolio-section {
  background-color: #8B645A;

	border-radius: 20px;

	width: 348px;
	height: 473px;

	padding: 70px 1rem 1rem;

}

.portfolio-content {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.portfolio-title {
	font-size: 50px;
	font-weight: 600;
	text-transform: uppercase;
	opacity: 1;
	color: white;
}

.portfolio-image-container {
	position: absolute;
	bottom: 0;
	right: 0;
}

.portfolio-image {

}
