@use '@styles/func';
@use '@styles/variables';
@use '@styles/mixins';

.root {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 20px;

  border: 1px solid #8B645A;
  border-radius: 10px;

  color: #8B645A;

  transition: color 0.3s ease, background-color 0.3s ease;

  font-family: var(--font-unbounded);
  font-weight: 400;
  font-size: 16px;

  &:hover {
    background-color: #8B645A;
    color: white;

    transition: color 0.3s ease, background-color 0.3s ease;
  }
}
