@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables" as *;

.root {
  padding: func.rem(20);
  background-color: #f9f9f9; // Легкий фон для модуля
  border-radius: 12px;
  border: 1px solid #eee;
}

.title {
  font-size: func.rem(20);
  font-weight: 600;
  color: #333;
  margin-top: 0;
  margin-bottom: func.rem(16);
  padding-bottom: func.rem(8);
  border-bottom: 1px solid #eee;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.placeholder {
  color: #777;
  font-style: italic;
  text-align: center;
  padding: func.rem(20) 0;
}
