@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	.data {
		display: flex;
		flex-direction: column;
		gap: 10px;

		&__header {
			display: flex;
			gap: 10px;
		}

		&__body {
			display: flex;
			flex-direction: column;
			gap: 10px;

			&__item {
				display: flex;
				gap: 10px;
				align-items: center;
			}
		}
	}
}
