@import 'mixins';


:root {
  // colors
  --color-white-default: #fff;
  --color-black-default: #000;
  --color-transparent: rgba(255 255 255 / 0%);

  // project colors
  --color-blue: #2c39f2;
  --color-blue-border: #dadcfa;

  // gradient
  --gradient-blue: radial-gradient(farthest-side,#3700FF99 10%, #3700FF99 0%,transparent) 60% 0% / 500px 500px;
  --gradient-azure: radial-gradient(farthest-side,#00E5FF99 10%, #00E5FF99 0%,transparent) 80% 20% / 300px 300px;
  --gradient-pink: radial-gradient(farthest-side,#C877B099 10%, #C877B099 0%,transparent) 73% 55% / 400px 400px;
  --gradient-yelow: radial-gradient(farthest-side,#829900 10%, #829900 0%,transparent) 80% 90% / 300px 300px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  font-family: var(--font-dm-sans);
}

body {
  @include text;
  color: var(--color-black-default);
  overflow-x: hidden;
  background: #3C3B3B;
}

a {
  color: currentcolor;
  text-decoration: none;
  transition: opacity $transition;

  @include desktop-only {
    &:hover,
    &:focus-visible {
      opacity: 0.7;
    }
  }
}

ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
}

button {
  @include reset-btn;
}

.visually-hidden {
  @include visually-hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  main {
    flex-grow: 1;
  }
}


h1{
  @include h1
}
