@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 250px 0 280px;


	background:
	radial-gradient(farthest-side,#3700FF99 10%, #3700FF99 0%,transparent) 60% 0% / 500px 500px,
	radial-gradient(farthest-side,#00E5FF99 10%, #00E5FF99 0%,transparent) 80% 20% / 300px 300px,
	radial-gradient(farthest-side,#C877B099 10%, #C877B099 0%,transparent) 73% 55% / 400px 400px,
	radial-gradient(farthest-side,#829900 10%, #829900 0%,transparent) 80% 90% / 300px 300px;
	background-repeat:no-repeat;
}


.description{
	margin: 0;
	font-weight: 300;
	font-size: 40px;
	line-height: 60px;
	color: white;
	padding-left: 25px;
}

.highlighted{
	font-weight: 600;
}

.it{
	color: white;
}
