@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.nav {
	display: flex;
	justify-content: center;
	gap: 2rem;
	max-width: 1200px;
	margin: 2rem auto;
	padding: 1.5rem 2rem;
	background: #F0F0E5;
	border: 2px solid #A47764;
	border-radius: 1rem;
	list-style: none;

	li {
		color: #8B645A;
		font-family: var(--font-unbounded);
		font-weight: 500;
		cursor: pointer;
		transition: color 0.3s ease;

		&:hover {
			color: #C39E88;
		}
	}
}
