@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	display: flex;
	flex-direction: column;
	gap: 25px;

	flex-wrap: wrap;

	// background-color: #8B645A;

	max-width: 372px;
	width: max-content;

	border-radius: 10px;

	.title {
		font-family: var(--font-unbounded);
		font-size: 30px;
		font-weight: 700;
		line-height: 1.2;

		// color: white;
		color: #8B645A;
	}

	.image {
		border-radius: 10px;

		max-height: 192px;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 10px;

		// color: white;
		color: #8B645A;

		.stack {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;

			.stackItem {
				font-size: 18px;
				font-weight: 400;
				line-height: 1.2;

				text-decoration: underline;

				font-family: var(--font-roboto);
			}
		}

		.description {
			font-size: 18px;
			font-weight: 400;
			line-height: 1.2;

			font-family: var(--font-roboto);
		}
	}
}
